<!DOCTYPE html>
<html>
<head>
  <title>Welcome to VaiLocal Hiring!</title>

  <meta charset="utf-8">
  <link rel="stylesheet" href="my_styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <a href="company.html.erb">
      For Companies
    </a>
  </div>

  <div>
    <a href="applicant.html.erb">
      For Job Seekers
    </a>
  </div>
</body>
</html>
